version: '3'
services:
  frontend:
    image: node:17-slim
    container_name: frontend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/app
    working_dir: /app
    command: bash -c "npm i && npm run start"
    depends_on:
      - backend
  backend:
    image: node:17-slim
    container_name: backend
    ports:
      - '3333:3333'
    volumes:
      - ./backend:/app
    working_dir: /app
    command: bash -c "npm i && npm run start"
    environment:
      - MONGO_HOST=mongo
    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    restart: always
    container_name: mongo
